@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    color: #333;
}

.title {
    font-size: 50px;
    padding: 40px;
    text-align: center;
    color: #111;
}

.nav {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.nav ul {
    width: 1000px;
    margin: 0 auto;
}

.nav ul li {
    display: inline-block;
}

.nav ul li a {
    height: 80px;
    display: inline-block;
    line-height: 80px;
    padding: 0 20px;
}

.container {
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.item {
    display: flex;
    margin-bottom: 20px;
}

.item .photo {
    margin-right: 50px;
    width: 300px;
    height: 210px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.item .photo img {
    border-radius: 10px;
}

.item .photo_01 {
    background-image: url("../images/london.jpg");
}

.item .photo_02 {
    background-image: url("../images/paris.jpg");
}

.item .photo_03 {
    background-image: url("../images/tokyo.jpg");
}

.item .text {
    width: 610px;
}

.item .text h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.bottom {
    padding: 50px;
    text-align: center;
    font-size: 14px;
    color: #666;
    border-top: 1px solid #ddd;
}